@font-face {
		font-family: "Georgia Pro";
		src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/1/3764b2f7-4b10-4419-998b-d39c48433307") format("truetype");
		}
@font-face {
		font-family: "Georgia Pro";
		src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/2/896c874c-a103-4571-834c-37d16381ca79");
		}
@font-face {
		font-family: "Georgia Pro";
		src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/708d476d-deaf-4078-b266-281f94ced1bd") format("woff");
		}
@font-face {
		 font-family: "Essays 1743";
		 src: url('/css/essays1743-webfont.ttf') format('truetype'); /* TTF file for CSS3 browsers */
		}
@font-face {
		 font-family: "Essays 1743";
		 src: url('/css/essays1743-webfont.eot'); /* EOT file for IE */
		}
@font-face {
		 font-family: "Franklin ITC Pro Bold";
		 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/1/a2664c9a-d783-4071-86ec-478136d31525") format("truetype");
		}
@font-face {
		 font-family: "Franklin ITC Pro Bold";
		 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/2/0b12aa52-bb8a-421b-a962-e81d85d29404");
		}
@font-face {
		 font-family: "Franklin ITC Pro Bold";
		 src: url("http://wac.6a25.edgecastcdn.net/006A25/webtype/ff/3/eaaadd6b-b1b9-43c8-9cbd-35a67dc05d46") format("woff");
		}



/* Reset */
	* { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
	body { background: #fff; color: #000; font-size: 100%; min-height: 100%; text-align: left; position: relative; }		
	
body {
	font-family: "Helvetica neue", Helvetica, arial, "Georgia Pro";
	font-size: 23px;
	margin-top: 4%;
	margin-bottom: 4%;
	}

img {
	color: #fff;
	width:720px;
	border-radius: 4px;
       margin-top: 1em;
	}
	
article {
	width: 720px;
	padding: 0px 30px 0px 30px;
	line-height: 38px;
	margin: 0 auto;
	}

a:link, a:visited {
		text-decoration: underline;
		color: #ff4411;
		}

a:hover, a:active, a:focus  {
		background-color: #ff4411;
		text-decoration: none;
		color: #fff;
		}
	
h1 {
	font-family: "Franklin ITC Pro Bold", "Essays 1743";
	font-size: 220%;
	padding-bottom:0.6em;
	}

h2 {
	font-family: "Franklin ITC Pro Bold", "Essays 1743";
	font-size: 170%;
	padding-top:0.6em;
	padding-bottom:0.8em;
	}
	
p {
	margin-top: 0em;
       margin-bottom: 0.8em;
	}

